@page "/info"

<h3>Info</h3>
<p>The 'Random Generators' app is written in .NET Blazor. It's a really simple client specific app. Just to fiddle around with Blazor and Bootstrap 4.</p>
<h3>Contact</h3>
<p><a href="https://github.com/marinusklaassen" target="_blank" class="ml-md-auto">https://github.com/marinusklaassen</a></p>




